{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <h1>récupération de mot de passe</h1>

    <form action="{{ path('reset_password') }}" method="post" class="col-md-4 mx-auto text-center">

        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="text" class="form-control" id="inputEmail" name="email" placeholder="Saisir votre email">
        </div>



        <input type="submit" value='Envoyer' class="btn btn-success col-md-12 mt-3">

    </form>

{% endblock %}

