{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
  <h1>Réinitialisation de Mot De Passe</h1>
    <form action="{{ path('new_password') }}" method="post" class="col-md-4 mx-auto text-center">


        <div class="form-group">
            <label for="inputPassword">Nouveau Mot de passe</label>
            <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Saisir votre nouveau mot de passe">
        </div>

        <input type="submit" value='Valider' class="btn btn-success col-md-12 mt-3">

    </form>

{% endblock %}

