{% extends 'base.html.twig' %}

{% block body %}

    <table class="table table-dark table-striped mt-5 w-75 mx-auto">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Pays</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>

        {% for wish in wishes %}
            <tr>
                <td >{{ wish.activity.name }}</td>
                <td>{{ wish.activity.city.name }}</td>
                <td>
                    <a href="{{ path('wishList_detail', {'id': wish.activity.id}) }}" class="btn btn-info">Voir le détail de l'activité</a>


                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
            <a href="{{path('app_stripe_pay')}}" class="btn btn-success">Valider ma commande</a>
    

{% endblock %}
{% block javascripts %}
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
        var stripe = Stripe("pk_test_51Nwh3ZLErOQOxgsTdIUA3sduLen1BFaNtr16Rm8msapotoS41uJwn7dO27GUJJAgLxaDTDobZfyRNKnfkBYMpYSf00aOAO41z4");
        var checkoutButton = document.getElementById("checkout-button");

        checkoutButton.addEventListener('click', function () {
            fetch('/stripe/pay', {
                method : 'POST',
            })
                .then(function(response) {
                    return response.json()
                })
                .then(function(session) {
                    return stripe.redirectToCheckout({ sessionId : session.id});
                })
                .then(function(result) {
                    if (result.error) {
                        alert(result.error.message);
                    }
                })
                .catch(function(error) {
                    console.error('Error', error);
                });
        });
    </script>

{% endblock %}

{% block title %}

{% endblock %}

