<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>modification mot de passe</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #f3f3f3;
            font-family: Helvetica, Arial, sans-serif;
        }
        h1 {
            border-radius: 5px;
            border: 2px solid #FD4BF2;
            background-color: #000000;
            color: #ffffff;
            padding: 30px 0 50px 0;
            font-weight: normal;
        }
        hr {
            border: none;
            border-top: 3px solid #264459;
            margin: 20px;
        }
        .container {
            background-color: #fefefe;
            width: 580px;
            margin: 0 auto;
        }
        .bottom {
            border-radius: 5px;
            border: 2px solid #45B7FF;
            background-color: #000000;
        }
        .block {
            margin: 0;
            padding: 10px 20px 20px 20px;
        }
        .logo {
            width: 100%;
        }
        .text-center {
            text-align: center;
        }
        .bienvenue{
            color:#fefefe;
        }

        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #3ed593;
            color: #fefefe;
            border: 1px solid #fff;
            border-radius: 15px;
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;
        }
    </style>
</head>
<body>
<div class="body">
    <div class="container">
        <div class="content">
            <h1 class="text-center">Bonjour {{user.lastName}}!</h1>
            <p class="block">
                Vous-avez perdu votre mot de passe ?
            <p>Afin de s'assurer que c'est vous et personnes d'autres qui tente d'accéder à votre compte, nous vous demandons de bien vouloir cliquer sur ce lien pour modifier se dernier</p>
            </p>
            <p class="block text-center">
                <a href="{{ url('new_password', {'id': user.id}) }}" class="btn">réinitialiser mon mot de passe</a>
            </p>



        </div>
        <div class="footer">

            <p class="block bottom text-center bienvenue">
                Envoyé par nous
            </p>
        </div>
    </div>
</div>
</body>
</html>